.h-main {
    background: linear-gradient(black, #4d2c91) ;
    width: 100vw;
    height: fit-content;
}

.h-box {
    position: relative;
    width: 90vw;
    margin: 0 auto;
}

.h-logo {
    width: 97px;
    height: 168px;
    margin: 15px 0 10px 15px;
    padding: 10px;  
}

.nav-m-main {
    position: absolute;
    top: 178px;
    right: 0;
}

.nav-m-main li{
    display: inline;
    margin-left: 15px;    
}

.nav-m-main a {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.h-welcome {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
}